.card-hover {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
  .card-hover:hover {
    box-shadow: 0 5px 15px #8fa1b9;
}

@media (min-width: 1025px) {
    .name-truncate {
        width: 100%;
        font-size: 1.3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .information-truncate {
        width: 100%;
        word-break: break-word;
        font-size: 1rem;
        line-height: 1.2;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: calc(1.5em * 2);
    }

    .annotation-truncate{
        width: 100%;
        word-break: break-word;
        font-size: 1rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .flex-item-right {
        display: none !important;
      }
    .flex-item-number { flex: 1; }
    .flex-item-slide { flex:19; }
    .flex-item-name { flex:30; }

    .name-truncate {
        width: 100%;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .information-truncate {
        width: 100%;
        word-break: break-word;
        font-size: 0.7rem;
        line-height: 1.2;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: calc(1.5em * 2);
    }
}