{% extends "common/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'common/css/breadcrumb.css' %}">
    <link rel="stylesheet" href="{% static 'images/css/image_database.css' %}">
{% endblock %}

<!-- 화면 상단 중앙에 DB/Image인 거 표시하기(css에 slide-text 추가해 줘야함)-->
{% block slide_name %}
    DB/Image
{% endblock slide_name %}

{% block content %}
    <!-- Breadcrumb -->
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <a href="{% url 'common:home' %}" class="breadcrumbs__item">Home</a>
        {% for crumb in breadcrumbs %}
            {% if forloop.last %}
                <!-- 마지막 항목은 is-active 클래스 추가 -->
                <a href="{% url 'images:image-database' %}?folder={{ crumb.id }}"
                   class="breadcrumbs__item is-active">
                    {{ crumb.name }}
                </a>
            {% else %}
                <!-- 마지막이 아닐 때는 기본 클래스만 적용 -->
                <a href="{% url 'images:image-database' %}?folder={{ crumb.id }}"
                   class="breadcrumbs__item">
                    {{ crumb.name }}
                </a>
            {% endif %}
        {% endfor %}
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-center">
        <div class="card rounded-0 my-3" style="width: 1024px;">
            <!-- 카드 헤더 -->
            <div class="card-header d-flex justify-content-between align-items-center"
                 style="background-color:#edf1f5;">
                <div class="d-flex align-items-center">
                    <input class="form-check-input m-0 me-2" type="checkbox" id="item-checkbox-all">
                    <h4 class="m-0 me-4">
                        {% if current_folder %}
                            {{ current_folder.name }}
                        {% else %}
                            DB/Image
                        {% endif %}
                    </h4>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#item-list-modal" data-type="move">
                            Move
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#item-list-modal" data-type="delete">
                            Delete
                        </button>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#slide-search-sidebar">
                        <i class="bi bi-search"></i> Search
                    </button>
                    {% if editable %}
                        <div class="btn-group">
                            {% if current_folder %}
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#folder-create-modal">
                                    <i class="bi bi-folder-plus"></i> New Folder
                                </button>
                            {% endif %}
                            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#image-upload-modal">
                                <i class="bi bi-upload"></i> New Image
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Contents -->
    <!-- 이전 폴더로 가는 칸 -->
    {% if current_folder %}
        <div class="d-flex justify-content-center">
            <div class="card border-0 rounded-0 mb-0 card-hover"
                 style="height : 100%; max-height: 150px; width : 100%; max-width: 1024px;">
                <div class="d-flex w-100 h-100" style=" width: 100%;">
                    <!-- 1영역 아이콘 /flex-item-icon / 5% -->
                    <div class="d-flex align-items-center justify-content-center p-2 flex-item-icon" style="width: 5%;">
                        <i class="bi bi-folder-symlink fs-3 text-warning"></i>
                    </div>
                    <!-- 2영역 이름 /flex-item-name / 90% -->
                    <div class="d-flex justify-content-center flex-column p-2 flex-item-name position-relative"
                         style="width: 90%; overflow: hidden;">
                        <h3 class="mb-0" style="font-size: 2rem">
                            <a href="{% url 'images:image-database' %}?folder={{ current_folder.parent.id }}"
                               style="text-decoration: none; color: inherit;" class="stretched-link">
                                ..
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- 폴더, 슬라이드 content-->
    {% if items %}
        {% for item in items %}
            <div class="d-flex justify-content-center">
                <div class="card border-0 rounded-0 mb-0 card-hover"
                     style="height : 100%; max-height: 150px; width : 100%; max-width: 1024px; {% if not forloop.counter|divisibleby:"2" %}background-color: #edf1f5;{% endif %}">
                    <!-- lecture url-->
                    <div class="d-flex w-100 h-100" style=" width: 100%;">
                        <div class="d-flex align-items-center justify-content-center ps-2">
                            {% if item.is_editable %}
                                <input class="form-check-input m-0" name="item-checkbox" type="checkbox"
                                       value="{{ item.id }}" data-type="{{ item.type }}" data-name="{{ item.name }}">
                            {% endif %}
                        </div>
                        <!-- 1영역 아이콘 /flex-item-icon / 5% -->
                        <div class="d-flex align-items-center justify-content-center p-2 flex-item-icon"
                             style="width: 10%;">
                            <!-- folder 아이콘 -->
                            {% if item.type == "folder" %}
                                <i class="bi bi-folder fs-3 text-warning"></i>
                            {% else %}
                                <!-- 슬라이드 썸네일 -->
                                <img src="{% url 'api:slide-thumbnail' pk=item.id %}" class="img-fluid" alt="">
                            {% endif %}
                        </div>
                        <!-- 2영역 이름 /flex-item-name / 55% -->
                        <div class="d-flex justify-content-center flex-column p-2 flex-item-name position-relative"
                             style="width: 45%; overflow: hidden;">
                            {% if item.type == "folder" %}
                                <h3 class="mb-0 name-truncate">
                                    <a href="{% url 'images:image-database' %}?folder={{ item.id }}"
                                       style="text-decoration: none; color: inherit;"
                                       class="stretched-link">{{ item.name }}</a>
                                </h3>
                            {% else %}
                                <div class="flex-fill">
                                    <h3 class="mb-0 name-truncate">
                                        <a href="{% url 'viewer:image-viewer' slide_id=item.id %}"
                                           class="stretched-link"
                                           style="text-decoration: none; color: inherit;">{{ item.name }}</a>
                                    </h3>
                                    <h6 class="mb-0 information-truncate" style="color: rgba(68, 66, 66, 0.38);">
                                        {{ item.information }}
                                    </h6>
                                </div>
                            {% endif %}
                        </div>
                        <!-- 3영역 작성자, 날짜 /flex-item-right / 20% -->
                        <div class="d-flex flex-column p-2 flex-item-right" style="width: 20%;">
                            <p class="mb-0" style="font-size: 15px"><i
                                    class="bi bi-person-fill-up fs-5"></i> {{ item.author|title }}</p>
                            <p class="mb-0" style="font-size: 15px">created: {{ item.created_at|date:"Y-m-d H:i" }}</p>
                            <p class="mb-0" style="font-size: 15px">updated: {{ item.updated_at|date:"Y-m-d H:i" }}</p>
                            <!-- accessability 표시-->
                            {% if item.type != "folder" %}
                                {% if item.is_public %}
                                    <p class="mb-0" style="font-size: 15px"><span
                                            class="badge rounded-pill bg-info text-dark">Public</span>
                                        {% else %}
                                    <p class="mb-0" style="font-size: 15px">
                                    <span class="badge rounded-pill bg-secondary">Private</span>
                                {% endif %}
                            {% endif %}
                            <!-- 진행상황 표시 -->
                            {% if item.type != "folder" %}
                                {% if item.building %}
                                    <div class="mt-1 position-relative align-items-center">
                                        <div class="progress bg-secondary bg-opacity-50 slide-upload-progress"
                                             role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             data-slide-id="{{ item.id }}">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 id="slide-{{ item.id }}-progress-bar">
                                            </div>
                                            <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
                                                 id="slide-{{ item.id }}-progress-text"
                                                 style="font-size: 15px; color: white">
                                                Wait..
                                            </div>
                                        </div>
                                    </div>
                                {% elif item.build_status == 'failed' %}
                                    <div class="mt-1 position-relative align-items-center">
                                        <div class="progress bg-danger bg-opacity-50 slide-upload-progress"
                                             role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                             data-slide-id="{{ item.id }}">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                                 id="slide-{{ item.id }}-progress-bar">
                                            </div>
                                            <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
                                                 id="slide-{{ item.id }}-progress-text"
                                                 style="font-size: 15px; color: white">
                                                Failed
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <!-- 4영역 Edit 버튼 /flex-item-edit / 10%-->
                        <div class="d-flex  align-items-center justify-content-center flex-column p-2 flex-item-edit"
                             style="width: 10%;">
                            {% if item.type == 'folder' %}
                                <!-- 폴더일 때 -->
                                <div class="btn-group-vertical btn-group-sm">
                                    <!-- detail 버튼 -->
                                    <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                            data-bs-toggle="modal"
                                            data-bs-target="#folder-detail-modal" data-bs-tooltip="tooltip"
                                            title="Details"
                                            data-url="{% url 'api:image-folder-detail' pk=item.id %}">
                                        Details
                                    </button>
                                    {% if item.is_editable %}
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                data-bs-target="#folder-rename-modal" data-bs-tooltip="tooltip"
                                                title="Rename"
                                                data-url="{% url 'api:image-folder-detail' pk=item.id %}">
                                            Rename
                                        </button>
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                data-bs-target="#folder-move-modal" data-bs-tooltip="tooltip"
                                                title="Move"
                                                data-url="{% url 'api:image-folder-detail' pk=item.id %}"
                                                data-url-tree="{% url 'api:image-folder-tree' %}"
                                                data-item-id="{{ item.id }}">
                                            Move
                                        </button>
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                data-bs-target="#folder-delete-modal" data-bs-tooltip="tooltip"
                                                title="Delete"
                                                data-url="{% url 'api:image-folder-detail' pk=item.id %}">
                                            Delete
                                        </button>
                                    {% endif %}
                                </div>
                            {% else %}
                                <!-- 슬라이드일 때 -->
                                <div class="btn-group-vertical btn-group-sm">
                                    <!-- detail 버튼 -->
                                    <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                            data-bs-toggle="modal"
                                            data-bs-target="#image-detail-modal" data-bs-tooltip="tooltip"
                                            title="Details"
                                            data-url="{% url 'api:slide-detail' pk=item.id %}">
                                        Details
                                    </button>
                                    {% if item.is_editable %}
                                        <!-- edit 버튼 -->
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                data-bs-target="#image-edit-modal" data-bs-tooltip="tooltip"
                                                title="Edit"
                                                data-url="{% url 'api:slide-detail' pk=item.id %}">
                                            Edit
                                        </button>
                                        <!-- move 버튼 -->
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                data-bs-target="#image-move-modal" data-bs-tooltip="tooltip"
                                                title="Move"
                                                data-url="{% url 'api:slide-detail' pk=item.id %}"
                                                data-url-tree="{% url 'api:image-folder-tree' %}">
                                            Move
                                        </button>
                                        <!-- delete 버튼 -->
                                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0"
                                                data-bs-toggle="modal"
                                                data-bs-target="#image-delete-modal" data-bs-tooltip="tooltip"
                                                title="Delete"
                                                data-url="{% url 'api:slide-detail' pk=item.id %}">
                                            Delete
                                        </button>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        <!-- 5영역 visibility /flex-item-visibility / 10% -->
                        <div class="d-flex align-items-center justify-content-center flex-column p-2 flex-item-visibility"
                             style="width: 10%;">
                            {% if item.type != "folder" and item.is_editable %}
                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                                        data-bs-target="#annotation-manage-modal" data-bs-tooltip="tooltip"
                                        title="Annotations" data-url="{% url 'api:slide-annotations' pk=item.id %}">
                                    Annotation ({{ item.annotations.count }})
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="slide-search-sidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">DB/Image Search</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <form id="image-search-form" data-url="{% url 'api:slide-list' %}">
                <div class="mb-2">
                    <label for="image-search-input" class="form-label">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="image-search-input" placeholder="name, author"
                               name="search" required>
                        <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="align-items-center text-danger mb-2 d-none" data-type="message"></div>
                <div id="image-search-info" class="text-muted mb-2" data-page-size="0"></div>
                <ul class="list-group mb-2" id="image-search-result"></ul>
                <nav id="image-search-pagination" class="d-flex justify-content-end">
                    <ul class="pagination mb-0"></ul>
                </nav>
            </form>
        </div>
    </div>
{% endblock content %}


{% block extra_modal %}
    <!-- Folder Create Modal -->
    <div class="modal fade" id="folder-create-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-create-form" data-url="{% url 'api:image-folder-list' %}" data-method="POST"
                      novalidate>
                    <div class="modal-body">
                        <input type="hidden" name="parent" value="{{ current_folder.id }}">
                        <div class="mb-2">
                            <label for="folder-create-name" class="form-label">Folder Name</label>
                            <input type="text" class="form-control" id="folder-create-name" name="name" required>
                            <div class="invalid-feedback" id="name-feedback"></div>
                        </div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Rename Modal -->
    <div class="modal fade" id="folder-rename-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rename Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-rename-form" data-url="" data-method="PATCH" novalidate>
                    <div class="modal-body">
                        <div class="mb-2">
                            <label for="folder-rename-name" class="form-label mt-2">Folder Name</label>
                            <input type="text" class="form-control" id="folder-rename-name" name="name" required>
                            <div class="invalid-feedback" id="name-feedback"></div>
                        </div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Rename</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Move Modal -->
    <div class="modal fade" id="folder-move-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-move-form" data-url="" data-method="PATCH">
                    <div class="modal-body">
                        <div class="border rounded p-3 mb-2 folder-tree-container"
                             style="max-height: 300px; overflow-y: auto;"></div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Move</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Delete Modal -->
    <div class="modal fade" id="folder-delete-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-delete-form" data-url="" data-method="DELETE">
                    <div class="modal-body">
                        <p>Are you sure to delete this folder?</p>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Detail Modal -->
    <div class="modal fade" id="folder-detail-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Folder Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <dl class="row" id="folder-detail-list"></dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Upload Modal -->
    <div class="modal fade" id="image-upload-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="image-upload-form" data-url="{% url 'api:slide-list' %}" data-method="POST" novalidate>
                    <div class="modal-body position-relative">
                        <div class="d-none position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-75 d-flex flex-column justify-content-center align-items-center"
                             data-type="loading">
                            <div class="spinner-border text-primary" role="status"></div>
                            <div class="mt-2 text-primary fw-semibold">Uploading Image...</div>
                        </div>
                        <input type="hidden" name="folder" value="{{ current_folder.id }}">
                        <div class="mb-2">
                            <label for="image-upload-name" class="form-label mt-2">Image Name</label>
                            <input type="text" class="form-control" id="image-upload-name" name="name"
                                   placeholder="Same with filename when left blank.">
                            <div class="invalid-feedback" id="name-feedback"></div>
                        </div>
                        <div class="mb-2">
                            <label for="image-upload-information" class="form-label mt-2">Image Information</label>
                            <input type="text" class="form-control" id="image-upload-information"
                                   name="information">
                            <div class="invalid-feedback" id="information-feedback"></div>
                        </div>
                        <div class="mb-2">
                            <label for="image-upload-file" class="form-label mt-2">Select Image</label>
                            <input type="file" class="form-control" id="image-upload-file" name="file" accept=".ndpi"
                                   required>
                            <div class="invalid-feedback" id="file-feedback"></div>
                        </div>
                        <div class="mb-2">
                            <label for="image-upload-access-level" class="form-label mt-2">Access Level</label>
                            <select class="form-select" id="image-upload-access-level" name="is_public" required>
                                {% if current_folder %}
                                    <option value="false" selected>Private ({{ current_folder.get_owner_group.name }})
                                    </option>
                                {% else %}
                                    <option value="false" selected>Private (admin)</option>
                                {% endif %}
                                <option value="true">Public</option>
                            </select>
                            <div class="invalid-feedback" id="is_public-feedback"></div>
                        </div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Image Edit Modal -->
    <div class="modal fade" id="image-edit-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="image-edit-form" data-url="" data-method="PATCH" novalidate>
                    <div class="modal-body">
                        <div class="mb-2">
                            <label for="image-edit-name" class="form-label mt-2">Image Name</label>
                            <input type="text" class="form-control" id="image-edit-name" name="name" required>
                            <div class="invalid-feedback" id="name-feedback"></div>
                        </div>
                        <div class="mb-2">
                            <label for="image-edit-information" class="form-label mt-2">Image Information</label>
                            <input type="text" class="form-control" id="image-edit-information" name="information">
                            <div class="invalid-feedback" id="information-feedback"></div>
                        </div>
                        <div class="mb-2">
                            <label for="image-edit-access-level" class="form-label mt-2">Access Level</label>
                            <select class="form-select" id="image-edit-access-level" name="is_public" required>
                                {% if current_folder %}
                                    <option value="false">Private ({{ current_folder.get_owner_group.name }})
                                    </option>
                                {% else %}
                                    <option value="false">Private (admin)
                                    </option>
                                {% endif %}
                                <option value="true">Public</option>
                            </select>
                            <div class="invalid-feedback" id="is_public-feedback"></div>
                        </div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Image Move Modal -->
    <div class="modal fade" id="image-move-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="image-move-form" data-url="" data-method="PATCH">
                    <div class="modal-body">
                        <div class="border rounded p-3 mb-2 folder-tree-container"
                             style="max-height: 300px; overflow-y: auto;"></div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Move</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Image Delete Modal -->
    <div class="modal fade" id="image-delete-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="image-delete-form" data-url="" data-method="DELETE">
                    <div class="modal-body">
                        <p>Are you sure to delete this image?</p>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Image Detail Modal -->
    <div class="modal fade" id="image-detail-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Image Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <dl class="row" id="image-detail-list"></dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Rebuild Modal -->
    <div class="modal fade" id="image-rebuild-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Image Rebuild</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="image-rebuild-form" data-url="" data-method="POST">
                    <div class="modal-body">
                        <p>Are you sure to rebuild this image?</p>
                        <p class="text-warning">Rebuild if you have problems with this slide.</p>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-warning">Rebuild</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Annotation Manage Modal -->
    <div class="modal fade" id="annotation-manage-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Annotations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group" id="annotation-list"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Rename Annotation Modal -->
    <div class="modal fade" id="annotation-rename-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rename Annotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="annotation-rename-form" data-url="" data-method="PATCH" novalidate>
                    <div class="modal-body">
                        <div class="mb-2">
                            <label for="annotation-rename-name" class="form-label mt-2">Annotation Name</label>
                            <input type="text" class="form-control" id="annotation-rename-name" name="name" required>
                            <div class="invalid-feedback" id="name-feedback"></div>
                        </div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Rename</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Annotation Modal -->
    <div class="modal fade" id="annotation-delete-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Annotation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="annotation-delete-form" data-url="" data-method="DELETE">
                    <div class="modal-body">
                        <p>Are you sure to delete this annotation?</p>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Item List Modal -->
    <div class="modal fade" id="item-list-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">선택 항목</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul id="item-selected-list" class="list-group overflow-scroll" style="max-height: 320px"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary continue" data-type="" data-bs-toggle="modal"
                            data-bs-target="#bulk-action-modal">
                        다음
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bulk Action Modal -->
    <div class="modal fade" id="bulk-action-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2 info-container"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn continue" data-type="" data-bs-toggle="modal"
                            data-bs-target="#action-progress-modal" data-destination="">
                        확인
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Action Progress Modal -->
    <div class="modal fade" id="action-progress-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul id="item-progress-list" class="list-group overflow-scroll" style="max-height: 320px"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn continue" data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock extra_modal %}


{% block extra_js %}
    <script src="{% static 'images/js/image_database.js' %}" type="text/javascript"></script>
{% endblock extra_js %}