# Python
*.pyc
__pycache__/

# Django
django/static/
django/media/
migrations/
logs/
.env
db.sqlite3

# Internationalization
*.mo

# NGINX
certs/

# Configuration
.idea/
.vscode/

# Mac Environment
.DS_Store

# Slides
slides/
