# Python
*.pyc
__pycache__/

# Django
django/static/
django/media/
migrations/
logs/
.env
db.sqlite3

# NGINX
*.crt
*.key

# Configuration
.idea/
.vscode/

# Slides
slides/

# Mac Environment
.DS_Store

# Old
secrets.json
staticfiles/
