{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ slide.name }}{% endblock %}


{% block extra_css %}
    <!-- Annotorious -->
    <link rel="stylesheet" href="{% static 'lib/annotorious/annotorious-openseadragon.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/annotorious/plugin-tools/annotorious-plugin-tools.min.css' %}">
    <!-- custom -->
    <link rel="stylesheet" href="{% static 'viewer/css/viewer.css' %}">
{% endblock extra_css %}


{% block extra_head %}
    <!-- Openseadragon -->
    <script src="{% static 'lib/openseadragon/openseadragon.min.js' %}"></script>
    <script src="{% static 'lib/openseadragon/openseadragon-scalebar.js' %}"></script>
    <!-- Annotorious -->
    <script src="{% static 'lib/annotorious/annotorious-openseadragon.min.js' %}"></script>
    <script src="{% static 'lib/annotorious/plugin-tools/annotorious-plugin-tools.min.js' %}"></script>
    <!-- OSDMeasure -->
    <script src="{% static 'lib/OSDMeasure/dexie.min.js' %}"></script>
    <script src="{% static 'lib/OSDMeasure/fabricjs.min.js' %}"></script>
    <script src="{% static 'lib/OSDMeasure/openseadragon-fabricjs-overlay.js' %}"></script>
    <script src="{% static 'lib/OSDMeasure/OSDMeasure.js' %}"></script>
    <!-- Screenshot -->
    <script src="{% static 'lib/screenshot/html2canvas.min.js' %}"></script>
    <script src="{% static 'lib/screenshot/FileSaver.min.js' %}"></script>
{% endblock extra_head %}


{% block navbar_title %}
    {{ slide.name }}
{% endblock navbar_title %}


{% block main_content %}
    <div id="openseadragon-container"></div>
{% endblock main_content %}


{% block nav_content %}
    <!-- 화면 클 때 나오는 네비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav d-none d-md-block">
        <div class="container-fluid custom-nav">
            <!-- 전체 버튼 그룹 -->
            <div class="btn-group" role="group">
                <!-- File 드롭다운 버튼 -->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop_file" class="btn btn btn-outline-light rounded-0 dropdown-toggle"
                            type="button" data-bs-toggle="dropdown">
                        {% trans "File" %}
                    </button>
                    <ul class="dropdown-menu" style="min-width: 0;">
                        <!-- 정보 버튼 -->
                        <li>
                            <button class="dropdown-item" title="{% trans "Information" %}" data-bs-tooltip="true"
                                    data-bs-toggle="modal" data-bs-target="#information-modal">
                                <i class="bi bi-info-circle"></i>
                                {% trans "Information" %}
                            </button>
                        </li>
                        <!-- 도움말 버튼 -->
                        <li>
                            <button class="dropdown-item" title="{% trans "Help" %}">
                                <i class="bi bi-question-circle"></i>
                                {% trans "Help" %}
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- View 드롭다운 버튼 -->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop_view" class="btn btn btn-outline-light rounded-0 dropdown-toggle"
                            type="button" data-bs-toggle="dropdown">
                        {% trans "View" %}
                    </button>
                    <ul class="dropdown-menu" style="min-width: 0;">
                        <!-- 네비게이터 버튼-->
                        <li>
                            <button class="dropdown-item" onclick="toggleNav()" title="{% trans "Toggle Navigator" %}"
                                    data-bs-tooltip="true">
                                <i class="bi bi-geo-alt-fill"></i>
                                {% trans "Navigator" %}
                            </button>
                        </li>
                        <!-- 전체화면 버튼 -->
                        <li>
                            <button class="dropdown-item" onclick="toggleFullScreen()" title="{% trans "Full Screen" %}"
                                    data-bs-tooltip="true">
                                <i class="bi bi-arrows-fullscreen"></i>
                                {% trans "Full Screen" %}
                            </button>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-1">
                        </li>
                        <!-- Brightness Control -->
                        <li>
                            <div class="dropdown-item-text d-flex align-items-center justify-content-between">
                                <label class="text-nowrap me-2" for="brightness">
                                    {% trans "Brightness" %}
                                </label>
                                <div class="d-flex align-items-center">
                                    <input class="form-range" id="brightness" style="width: 200px" type="range" min="0"
                                           max="2" step="0.01" value="1" oninput="updateFilters()">
                                    <span class="text-center" id="brightness-value" style="width: 40px"></span>
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="resetBrightness()">
                                        {% trans "Reset" %}
                                    </button>
                                </div>
                            </div>
                        </li>
                        <!-- Contrast Control -->
                        <li>
                            <div class="dropdown-item-text d-flex align-items-center justify-content-between">
                                <label class="text-nowrap me-2" for="contrast">
                                    {% trans "Contrast" %}
                                </label>
                                <div class="d-flex align-items-center">
                                    <input class="form-range" id="contrast" style="width: 200px" type="range" min="0"
                                           max="2" step="0.01" value="1" oninput="updateFilters()">
                                    <span class="text-center" id="contrast-value" style="width: 40px"></span>
                                    <button type="button" class="btn btn-sm btn-secondary text-nowrap"
                                            onclick="resetContrast()">
                                        {% trans "Reset" %}
                                    </button>
                                </div>
                            </div>
                        </li>
                        <!-- Saturate Control -->
                        <li>
                            <div class="dropdown-item-text d-flex align-items-center justify-content-between">
                                <label class="text-nowrap me-2" for="saturate">
                                    {% trans "Saturation" %}
                                </label>
                                <div class="d-flex align-items-center">
                                    <input class="form-range" id="saturate" style="width: 200px" type="range" min="0"
                                           max="2" step="0.01" value="1" oninput="updateFilters()">
                                    <span class="text-center" id="saturate-value" style="width: 40px"></span>
                                    <button type="button" class="btn btn-sm btn-secondary text-nowrap"
                                            onclick="resetSaturate()">
                                        {% trans "Reset" %}
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 배율 드롭다운 버튼 -->
                <div class="btn-group" role="group" title="{% trans "Change Magnification" %}" data-bs-tooltip="true">
                    <button id="btnGroupDrop_scale" class="btn btn-outline-light rounded-0 dropdown-toggle"
                            style="width: 90px;" type="button" data-bs-toggle="dropdown">
                        <span>1x</span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 0;">
                        <!-- 배율 버튼 -->
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(1.25)">1.25x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(2.5)">2.5x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(5)">5x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(10)">10x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(20)">20x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(40)">40x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(63)">63x</button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setZoomLevel(100)">100x</button>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-1">
                        </li>
                        <!-- Reset 버튼 -->
                        <li>
                            <button class="dropdown-item" onclick="viewer.viewport.goHome(true)">
                                {% trans "Reset" %}
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- 그리기 드롭다운 버튼-->
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop_annotation" class="btn btn-outline-light rounded-0 dropdown-toggle"
                            type="button" data-bs-toggle="dropdown" style="background-color: rgb(243, 88, 83);">
                        <span>{% trans "Drawing" %}</span>
                        <span id="ink" style="color: #ff0000">
                            <i class="bi bi-circle-fill"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu" style="min-width: 0;">
                        <!-- Annotation 버튼-->
                        <li>
                            <button class="dropdown-item" onclick="setDrawingTool('ellipse')">
                                <i class="bi bi-circle"></i>
                                {% trans "Circle" %}
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setDrawingTool('rectangle')">
                                <i class="bi bi-square"></i>
                                {% trans "Rectangle" %}
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item" onclick="setDrawingTool('polygon')">
                                <i class="bi bi-pentagon"></i>
                                {% trans "Polygon" %}
                            </button>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-1">
                        </li>
                        <!-- Measure 버튼-->
                        <li>
                            <button class="dropdown-item" onclick="plugin.setMeasureMode(true)">
                                <i class="bi bi-rulers"></i>
                                {% trans "Linear Measure" %}
                            </button>
                        </li>
                        <li>
                            <hr class="dropdown-divider my-1">
                        </li>
                        <li>
                            <div class="dropdown-item-text">
                                <i class="bi bi-palette"></i>
                                {% trans "Color" %}
                            </div>
                        </li>
                        <!-- 항상 보이는 색상 팔레트 -->
                        <li>
                            <div class="dropdown-item-text color-palette">
                                <div class="color-option" data-color="#ff0000">
                                    <div class="color-circle red"></div>
                                </div>
                                <div class="color-option" data-color="#0000ff">
                                    <div class="color-circle blue"></div>
                                </div>
                                <div class="color-option" data-color="#000001">
                                    <div class="color-circle black"></div>
                                </div>
                                <div class="color-option" data-color="#ffffff">
                                    <div class="color-circle white"></div>
                                </div>
                                <div class="color-option" data-color="#ffff00">
                                    <div class="color-circle yellow"></div>
                                </div>
                                <div class="color-option" data-color="#ff00ff">
                                    <div class="color-circle magenta"></div>
                                </div>
                                <div class="color-option" data-color="#00ff00">
                                    <div class="color-circle green"></div>
                                </div>
                                <div class="color-option" data-color="#8b4513">
                                    <div class="color-circle brown"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 숨기기 버튼 -->
                <button class="btn btn btn-outline-light rounded-0" id="invisible-btn"
                        title="{% trans "Hide Annotations" %}" data-bs-tooltip="true"
                        style="background-color: rgb(243, 88, 83);">
                    <i class="bi bi-eye-slash"></i>
                </button>
                <!-- 지우개 버튼 -->
                <button class="btn btn btn-outline-light rounded-0" id="erase-btn"
                        title="{% trans "Remove Selected Annotation" %}" data-bs-tooltip="true"
                        style="background-color: rgb(243, 88, 83); display: none;">
                    <i class="bi bi-eraser"></i>
                </button>
                <!-- annotation 수정 버튼 -->
                <button class="btn btn btn-outline-light rounded-0" id="edit-btn"
                        title="{% trans "Edit Selected Annotation" %}" data-bs-tooltip="true"
                        style="background-color: rgb(243, 88, 83); display: none;">
                    <i class="bi bi-pen"></i>
                </button>
            </div>
            <!-- 오른쪽 버튼 그룹들 -->
            <div class="btn-group ms-auto" role="group">
                <!-- Reset 버튼(이 이후로 오른쪽으로 밀림림) -->
                <button class="btn btn btn-outline-light rounded-0" onclick="viewer.viewport.goHome(true)"
                        title="{% trans "Reset Magnification" %}" data-bs-tooltip="true">
                    <i class="bi bi-house"></i>
                </button>
                <!-- 저장 버튼 -->
                <button class="btn btn btn-outline-light rounded-0" onclick="captureOpenSeadragonView()"
                        title="{% trans "Screenshot" %}" data-bs-tooltip="true">
                    <i class="bi bi-camera"></i>
                </button>
            </div>
        </div>
    </nav>
    <!-- 화면 작을 때 나오는 네비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav d-md-none">
        <div class="container-fluid custom-nav nav-slide-text d-flex justify-content-center">
            {{ slide.name }}
        </div>
    </nav>
{% endblock nav_content %}


{% block aside_content %}
    <div class="d-flex justify-content-between align-items-center w-100">
        {% if can_create_annotation %}
            <button class="btn btn-outline-light rounded-0" title="{% trans "Edit Description" %}"
                    data-bs-tooltip="true" data-bs-toggle="modal" data-bs-target="#description-modal">
                <i class="bi bi-pencil"></i>
            </button>
        {% endif %}
        <div class="d-flex gap-2 justify-content-center">
            <span id="annotation-name">({% trans "None" %})</span>
            {% if slide.annotations and can_create_annotation %}
                <div class="dropdown-center" id="annotation-change-dropdown"
                     title="{% trans "Select Annotation" %}" data-bs-tooltip="true">
                    <i class="dropdown-toggle" type="button" data-bs-toggle="dropdown"></i>
                    <ul class="dropdown-menu" style="min-width: 0;">
                        <li>
                            <a class="dropdown-item" type="button"
                               href="{% url 'viewer:image-viewer' slide.id %}">
                                <i class="bi bi-image-fill"></i>
                                ({% trans "None" %})
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% if can_create_annotation or can_edit_annotation %}
            <div class="dropdown" title="{% trans "Save" %}" data-bs-tooltip="true">
                <button class="btn btn-outline-light rounded-0 dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="bi bi-floppy"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" style="min-width: 0;">
                    <li>
                        <button class="dropdown-item" id="annotation-update-btn"
                                title="{% trans "Update Annotation" %}" data-bs-tooltip="true"
                                {% if not can_edit_annotation %}disabled{% endif %}>
                            <i class="bi bi-file-earmark-arrow-up"></i>
                            {% trans "Update" %}
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" id="annotation-create-btn" title="{% trans "Create Annotation" %}"
                                data-bs-tooltip="true" data-bs-toggle="modal" data-bs-target="#annotation-create-modal"
                                {% if not can_create_annotation %}disabled{% endif %}>
                            <i class="bi bi-file-earmark-plus"></i>
                            {% trans "Create" %}
                        </button>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock aside_content %}


{% block article_content %}
    <div id="article-header">
        <p id="slide-description" class="text-wrap d-block text-break"></p>
    </div>
    <div id="article-body">
        <!-- 버튼이 추가될 컨테이너 -->
    </div>
{% endblock article_content %}


{% block extra_overlay %}
    <!-- Overlay -->
    <div id="overlay"></div>

    <!-- Annotation Popup -->
    <div class="card" id="annotation-popup">
        <form id="annotation-form">
            <div class="card-body">
                <h5>{% trans "Annotation Details" %}</h5>
                <label class="form-label" for="title">{% trans "Title" %}</label><br>
                <input class="form-control mb-2" type="text" id="title" name="title" required>
                <label class="form-label" for="comment">{% trans "Comment" %}</label><br>
                <textarea class="form-control" id="comment" name="comment" required></textarea>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button class="btn btn-sm btn-secondary me-2" type="button" onclick="cancelPopup()">
                    {% trans "Cancel" %}
                </button>
                <button class="btn btn-sm btn-primary" type="submit">{% trans "Save" %}</button>
            </div>
        </form>
    </div>

    <!-- Annotation Create Modal -->
    <div class="modal fade" id="annotation-create-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "New Annotation" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="annotation-create-form" novalidate>
                    <div class="modal-body">
                        <input type="hidden" name="slide" value="{{ slide.id }}">
                        <div class="mb-2">
                            <label for="annotation-create-name" class="form-label">{% trans "Annotation Name" %}</label>
                            <input type="text" class="form-control" id="annotation-create-name" name="name" required>
                            <div class="invalid-feedback" id="name-feedback"></div>
                        </div>
                        <div class="align-items-center text-danger d-none" data-type="message"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            {% trans "Cancel" %}
                        </button>
                        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Description Modal -->
    <div class="modal modal-lg fade" id="description-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Description" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <textarea type="text" class="form-control" id="description-text" rows="20"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="apply-description">
                        {% trans "Apply" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Information Modal -->
    <div class="modal fade" id="information-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Image Information" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <dl class="row" id="information-list">
                        <dt class="col-sm-3 mb-2">{% trans "Name" %}</dt>
                        <dd class="col-sm-9">{{ slide.name|default:"-" }}</dd>
                        <dt class="col-sm-3 mb-2">{% trans "Information" %}</dt>
                        <dd class="col-sm-9">{{ slide.information|default:"-" }}</dd>
                        <dt class="col-sm-3 mb-2">{% trans "Author" %}</dt>
                        <dd class="col-sm-9">{{ slide.author.username|default:"-" }}</dd>
                        <dt class="col-sm-3 mb-2">{% trans "Manager Group" %}</dt>
                        <dd class="col-sm-9">{{ slide.manager_group.name|default:"-" }}</dd>
                        <dt class="col-sm-3 mb-2">{% trans "Folder" %}</dt>
                        <dd class="col-sm-9">{{ slide.folder|default:"-" }}</dd>
                        <dt class="col-sm-3 mb-2">{% trans "Original File" %}</dt>
                        <dd class="col-sm-9">
                            <dl class="row">
                                {% with file=slide.file %}
                                    <dt class="col-sm-3 mb-2">{% trans "Name" %}</dt>
                                    <dd class="col-sm-9">{{ file_name|default:"-" }}</dd>
                                    <dt class="col-sm-3 mb-2">{% trans "File Size" %}</dt>
                                    <dd class="col-sm-9">{{ file.size|filesizeformat|default:"-" }}</dd>
                                {% endwith %}
                            </dl>
                        </dd>
                        <dt class="col-sm-3 mb-2">{% trans "Associated Images" %}</dt>
                        <dd class="col-sm-9">
                            {% for name in slide.associated_image_names %}
                                <img src="{% url 'api:slide-associated-image' pk=slide.pk filename=name %}"
                                     class="img-fluid mb-2" alt="" style="max-height: 150px">
                            {% endfor %}
                        </dd>
                        <dt class="col-sm-3 mb-2">{% trans "Metadata" %}</dt>
                        <dd class="col-sm-9">
                            <dl class="row">
                                {% with metadata=slide.metadata %}
                                    <dt class="col-sm-3 mb-2">{% trans "Vendor" %}</dt>
                                    <dd class="col-sm-9">{{ metadata.vendor }}</dd>
                                    <dt class="col-sm-3 mb-2">{% trans "Created" %}</dt>
                                    <dd class="col-sm-9">{{ metadata.created }}</dd>
                                    <dt class="col-sm-3 mb-2">{% trans "Objective Power" %}</dt>
                                    <dd class="col-sm-9">{{ metadata.objective_power }}</dd>
                                {% endwith %}
                            </dl>
                        </dd>
                        <dt class="col-sm-3 mb-2">{% trans "Created" %}</dt>
                        <dd class="col-sm-9">{{ slide.created_at|date:"Y-m-d H:i:s" }}</dd>
                        <dt class="col-sm-3 mb-2">{% trans "Updated" %}</dt>
                        <dd class="col-sm-9">{{ slide.updated_at|date:"Y-m-d H:i:s" }}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% trans "Close" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock extra_overlay %}


{% block extra_js %}
    <script type="text/javascript">
        const username = '{{ user.username }}';
        const fullname = '{{ user.get_full_name }}';
        const slideId = {{ slide.id }};
        const slideName = '{{ slide.name }}';
        const rawSlideMetadata = {{ slide.metadata|safe }};

        // 현재 연결된 annotation 정보. `undefined` 면 연결된 annotation 이 없다고 보면 됨.
        let annotation;
        {% if annotation %}
            annotation = {
                id: {{ annotation.id }},
                name: '{{ annotation.name }}',
                description: '{{ annotation.description|escapejs }}',
                data: {{ annotation.data|safe }},
            };
        {% endif %}

        const CAN_CREATE_ANNOTATION = {{ can_create_annotation|yesno:"true,false" }};
    </script>
    <script src="{% static 'viewer/js/viewer.js' %}"></script>
{% endblock extra_js %}