{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/breadcrumb.css' %}">
    <link rel="stylesheet" href="{% static 'lectures/css/lecture_bulletins.css' %}">
{% endblock %}


{% block navbar_title %}
    {% trans "Lectures" %}
{% endblock navbar_title %}

{% block main_content %}
    <!-- Breadcrumb -->
    <nav class="breadcrumbs">
        <a href="{% url 'core:home' %}" class="breadcrumbs__item">{% trans "Home" %}</a>
        <a href="" class="breadcrumbs__item is-active">{% trans "Lectures" %}</a>
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-center">
        <div class="card rounded-0 my-3" style="width: 1024px;">
            <!-- 카드 헤더 -->
            <div class="card-header d-flex justify-content-between align-items-center"
                 style="background-color:#edf1f5;">
                <h4 class="m-0">{% trans "Lectures" %}</h4>
            </div>
        </div>
    </div>
    <!-- Contents -->
    {% if lectures %}
        {% for lecture in lectures %}
            <div class="d-flex justify-content-center lecture-item">
                <div class="card border-0 rounded-0 mb-0 card-hover"
                     style="height : 100%; max-height: 150px; width : 100%; max-width: 1024px; {% if forloop.counter|divisibleby:"2" %}background-color: #edf1f5;{% endif %}">
                    <div class="d-flex w-100 h-100" style=" width: 100%;">
                        <!-- 1영역: 렉쳐 아이콘/flex-item-icon/ 5% -->
                        <div class="d-flex align-items-center justify-content-center p-2 flex-item-icon"
                             style="width: 5%;">
                            <i class="bi bi-journal-text fs-3 text-warning"></i>
                        </div>
                        <!-- 2영역: 렉쳐 이름, 렉쳐 설명, 대상 / flex-item-name / 55% -->
                        <div class="d-flex flex-column p-2 flex-item-name position-relative"
                             style="width: 55%; overflow: hidden;">
                            <div class="flex-fill">
                                <h3 class="mb-0 name-truncate">
                                    <a href="{% url 'lectures:lecture-view' lecture_id=lecture.id %}"
                                       style="text-decoration: none; color: inherit;" class="stretched-link">
                                        {{ lecture.name }}
                                    </a>
                                </h3>
                                <h6 class="mb-0 information-truncate" style="color: rgba(68, 66, 66, 0.38);">
                                    {{ lecture.description }}
                                </h6>
                                <h6 class="mb-0 group-truncate">
                                    <i class="bi bi-people-fill"></i>
                                    {% for group in lecture.viewer_groups.all %}
                                        <span>{{ group.name }}{% if not forloop.last %}, {% endif %}</span>
                                    {% empty %}
                                        <span class="text-secondary">{% trans "No viewer groups." %}</span>
                                    {% endfor %}
                                </h6>
                            </div>
                        </div>
                        <!-- 3영역: Lectures number, created, updated / flex-item-right / 20% -->
                        <div class="d-flex flex-column p-2 flex-item-right" style="width: 20%;">
                            <p class="mb-0" style="font-size: 15px">
                                <i class="bi bi-person-fill-up fs-5"></i>
                                {{ lecture.author }}
                            </p>
                            {% if lecture.is_editable %}
                                <p class="mb-0" style="font-size: 15px">
                                    <i class="bi bi-calendar"></i>
                                    {{ lecture.created_at|date:"Y-m-d H:i:s" }}
                                </p>
                                <p class="mb-0" style="font-size: 15px">
                                    <i class="bi bi-clock-history"></i>
                                    {{ lecture.updated_at|date:"Y-m-d H:i:s" }}
                                </p>
                            {% endif %}
                            <p class="mb-0" style="font-size: 15px">
                                <i class="bi bi-images"></i>
                                {{ lecture.contents.count }} {% trans "Images" %}
                            </p>
                        </div>
                        <!-- 4영역: Details, Edit, open location / flex-item-edit / 13% -->
                        <div class="d-flex  align-items-center justify-content-center flex-column p-2 flex-item-edit"
                             style="width: 13%;">
                            <div class="btn-group-vertical btn-group-sm">
                                {% if lecture.is_editable %}
                                    <a type="button" class="btn btn-outline-warning"
                                       href="{% url 'lectures:lecture-database' %}?folder={{ lecture.folder.id }}"
                                       target="_blank" rel="noopener noreferrer nofollow"
                                       data-bs-tooltip="true" title="{% trans "Open in DB" %}">
                                        {% trans "Open in DB" %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- 5영역: visibility 설정 / flex-item-visibility / 7% -->
                        <div class="d-flex align-items-center justify-content-center flex-column p-2 flex-item-visibility"
                             style="width: 10%;">
                            <div class="btn-group-vertical btn-group-sm">
                                {% if lecture.is_editable %}
                                    <button class="btn btn-outline-danger" title="{% trans "Close Lecture" %}"
                                            data-bs-tooltip="true" data-action="hide"
                                            data-lecture-id="{{ lecture.id }}">
                                        <i class="bi bi-eye-slash"></i>
                                        {% trans "Close" %}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock main_content %}


{% block extra_js %}
    <script src="{% static 'lectures/js/lecture_bulletins.js' %}"></script>
{% endblock extra_js %}