{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block main_content %}
    <!-- Breadcrumb -->
    <nav class="navbar">
        <button class="btn btn-sm btn-outline-secondary" onclick="redirectToNextOrDefault(`/lectures/database/`);">
            <i class="bi bi-arrow-left"></i>
            {% trans "Back" %}
        </button>
    </nav>
    <form id="lecture-form" data-url="{% url 'api:lecture-detail' pk=lecture.id %}" data-method="PATCH">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">
                {% trans "Edit Lecture" %}
            </h4>
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-save"></i> {% trans "Save Changes" %}
            </button>
        </div>
        <!-- Contents -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md">
                        <div class="mb-3">
                            <label for="lecture-name" class="form-label">{% trans "Name" %}</label>
                            <input type="text" class="form-control" id="lecture-name" name="name"
                                   value="{{ lecture.name }}">
                        </div>
                        <div>
                            <label for="lecture-description" class="form-label">{% trans "Description" %}</label>
                            <textarea class="form-control" id="lecture-description" name="description"
                                      rows="2">{{ lecture.description|default:"" }}</textarea>
                        </div>
                    </div>
                    <div class="col-md">
                        <label class="form-label fw-bold">{% trans "Viewer Groups" %}</label>
                        <span class="text-muted">({% trans "Select the groups that can view this lecture." %})</span>
                        <div class="row g-1">
                            <div class="col-sm">
                                <label class="form-label text-decoration-underline">{% trans "Publishers" %}</label>
                                <div class="overflow-scroll" style="max-height: 150px;">
                                    {% for publisher in publishers %}
                                        <div class="form-check ms-2">
                                            <input class="form-check-input" type="checkbox" name="viewer_groups[]"
                                                   id="group-{{ publisher.id }}" value="{{ publisher.id }}"
                                                   {% if publisher in lecture.viewer_groups.all %}checked{% endif %}>
                                            <label class="form-check-label" for="group-{{ publisher.id }}">
                                                {{ publisher.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm">
                                <label class="form-label text-decoration-underline">{% trans "Viewers" %}</label>
                                <div class="overflow-scroll" style="max-height: 150px;">
                                    {% for viewer in viewers %}
                                        <div class="form-check ms-2">
                                            <input class="form-check-input" type="checkbox" name="viewer_groups[]"
                                                   id="group-{{ viewer.id }}" value="{{ viewer.id }}"
                                                   {% if viewer in lecture.viewer_groups.all %}checked{% endif %}>
                                            <label class="form-check-label" for="group-{{ viewer.id }}">
                                                {{ viewer.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header d-flex align-items-baseline">
                        <h5 class="card-title">{% trans "Lecture Contents" %}</h5>
                        <span class="text-muted ms-2">({% trans "These images will be added to the lecture." %})</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-group" id="content-list"></ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-baseline">
                            <h5 class="card-title">DB/{% trans "Image" %}</h5>
                            <span class="text-muted ms-2">({% trans "Select images to add." %})</span>
                        </div>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#slide-search-sidebar">
                            <i class="bi bi-search"></i>
                            <span class="d-none d-sm-inline">{% trans "Search" %}</span>
                        </button>
                    </div>
                    <div class="card-body">
                        <ul class="list-group" id="database-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock main_content %}


{% block extra_overlay %}
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="slide-search-sidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">{% trans "Search" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <form id="image-search-form">
                <div class="mb-2">
                    <div class="input-group">
                        <input type="text" class="form-control" id="image-search-input" name="search"
                               placeholder="{% trans "name" %}, {% trans "manager group" %}" required>
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="align-items-center text-danger mb-2 d-none" data-type="message"></div>
                <div id="image-search-info" class="text-muted mb-2" data-page-size="0"></div>
                <ul class="list-group mb-2" id="image-search-result"></ul>
                <nav id="image-search-pagination" class="d-flex justify-content-end">
                    <ul class="pagination mb-0"></ul>
                </nav>
            </form>
        </div>
    </div>
{% endblock extra_overlay %}


{% block extra_js %}
    <script>
        const contents = {{ contents|safe }};
        const items = {{ items|safe }};
    </script>
    <script src="{% static 'lectures/js/lecture_edit.js' %}"></script>
{% endblock extra_js %}