{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/breadcrumb.css' %}">
    <link rel="stylesheet" href="{% static "lectures/css/lecture_view.css" %}">
{% endblock %}


{% block main_content %}
    <!-- Breadcrumb -->
    <nav class="breadcrumbs">
        <a href="{% url 'core:home' %}" class="breadcrumbs__item">{% trans "Home" %}</a>
        <a href="{% url 'lectures:lecture-bulletins' %}" class="breadcrumbs__item">{% trans "Lectures" %}</a>
        <a href="" class="breadcrumbs__item is-active">{{ lecture.name }}</a>
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-center">
        <div class="card rounded-0 my-3" style="width: 1024px;">
            <!-- 카드 헤더 -->
            <div class="card-header d-flex justify-content-between align-items-center"
                 style="background-color:#edf1f5;">
                <h4 class="m-0">{{ lecture.name }}</h4>
                <!-- Edit 버튼 -->
                {% if is_editable %}
                    <a type="button" class="btn btn-primary btn-sm"
                       href="{% url 'lectures:lecture-edit' lecture_id=lecture.id %}?next={{ request.get_full_path }}">
                        <i class="bi bi-pencil"></i>
                        {% trans "Edit" %}
                    </a>
                {% endif %}
            </div>
            <!-- 카드 본문 -->
            <!-- Description -->
            {% if lecture.description %}
                <div class="card-body">
                    <p class="card-text">{{ lecture.description }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Contents -->
    {% if contents %}
        {% for content in contents %}
            {% with slide=content.slide annotation=content.annotation %}
                <div class="d-flex justify-content-center">
                    <!-- 카드의 너비와 높이를 고정 -->
                    <div class="card border-0 rounded-0 mb-0 card-hover"
                         style="height : 100%; max-height: 150px; width : 100%; max-width: 1024px; {% if forloop.counter|divisibleby:"2" %}background-color: #edf1f5;{% endif %}">
                        <a href="{% url 'viewer:image-viewer' slide_id=slide.id %}?annotation={{ annotation.id }}"
                           style="text-decoration: none; color: inherit;">
                            <!-- 내부를 flex container로 만들어 네 영역으로 분할 -->
                            <div class="d-inline-flex h-100" style=" width: 100%;">
                                <!-- 제일 왼쪽 : 번호 표시 -->
                                <div class="d-flex align-items-center justify-content-center p-1 flex-item-number"
                                     style="width: 2%;">
                                    <h6>{{ forloop.counter }}</h6>
                                </div>
                                <!-- 왼쪽 영역: 이미지  -->
                                <div class="d-flex align-items-center justify-content-center p-2 flex-item-image"
                                     style="width: 15%;">
                                    <object class="img-fluid" data="{% url 'api:slide-thumbnail' pk=slide.id %}"
                                            type="image/png">
                                        <i class="bi bi-image fs-3 text-secondary"></i>
                                    </object>
                                </div>
                                <!-- 중앙 영역: 슬라이드 이름 -->
                                <div class="d-flex flex-column p-2 flex-item-name"
                                     style="width: 63%; overflow: hidden;">
                                    <div class="flex-fill">
                                        <h3 class="mb-0 name-truncate">
                                            {{ slide.name }}
                                        </h3>
                                        <h6 class="mb-0 information-truncate" style="color: rgba(68, 66, 66, 0.38);">
                                            {{ slide.information }}
                                        </h6>
                                    </div>
                                </div>
                                <!-- 오른쪽 영역: Annotation, Created, Updated (css right area)-->
                                <div class="d-flex flex-column p-2 flex-item-right" style="width: 20%;">
                                    <p class="mb-0" style="font-size: 15px">
                                        <i class="bi bi-person-fill-up fs-5"></i>
                                        {{ lecture.author }}
                                    </p>
                                    {% if is_editable %}
                                        <p class="mb-0" style="font-size: 15px">
                                            <i class="bi bi-calendar"></i>
                                            {{ slide.created_at|date:"Y-m-d H:i:s" }}
                                        </p>
                                        <p class="mb-0" style="font-size: 15px">
                                            <i class="bi bi-clock-history"></i>
                                            {{ slide.updated_at|date:"Y-m-d H:i:s" }}
                                        </p>
                                        {% if annotation %}
                                            <p class="mb-0 annotation-truncate" style="font-size: 15px">
                                                <i class="bi bi-pen-fill text-danger"></i>
                                                {{ annotation.name }} ({{ annotation.author.username }})
                                            </p>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    {% else %}
        <div class="d-flex justify-content-center">
            <div class="alert alert-secondary rounded-0 text-center" style="width: 1024px">{% trans "No items." %}</div>
        </div>
    {% endif %}
{% endblock main_content %}