{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<style>
    .card-hover {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }
      .card-hover:hover {
        box-shadow: 0 5px 15px #8fa1b9;
      }
</style>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'common_static/breadcrumb.css' %}">
{% endblock %}


{% block content %}
    <!-- Breadcrumb -->
    <nav class = "breadcrumbs">
        <a href="{% url 'home' %}" class="breadcrumbs__item">Home</a>
        <a href="{% url 'lectures:lecture-bulletins' %}" class="breadcrumbs__item">Lectures</a> 
        <a href="" class="breadcrumbs__item is-active">Lecture Slides</a> 
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-center">
        <div class="card rounded-0 my-3" style="width: 1000px;">
            <!-- 카드 헤더 -->
            <div class="card-header d-flex justify-content-between align-items-center" style="background-color:#edf1f5;">
                <h4 class="m-0">{{ lecture.name }}</h4>
                <!-- Edit 버튼 -->
                {% if editable %}
                <a type="button" class="btn btn-primary btn-sm" href="{% url 'lectures:lecture-edit' lecture_id=lecture.id %}">
                    <i class="bi bi-pencil"></i> Edit
                </a>
                {% endif %}
            </div>
            <!-- 카드 본문 -->
            <div class="card-body">
                <!-- Description -->
                {% if lecture.description %}
                <p class="card-text">{{ lecture.description }}</p>
                {% endif %}
                {% if not contents %}
                <p>슬라이드가 없습니다.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Contents -->
    {% if contents %}
    {% for content in contents %}
    <div class="d-flex justify-content-center">
        <!-- 카드의 너비와 높이를 고정 -->
        {% if content.annotation %}
        <!-- Annotation 유무에 따라 url 달리 하기 -->
        <a href="{% url 'slide_viewer:slide-view' slide_id=content.slide.id %}?annotation={{ content.annotation.id }}" class="text-decoration-none d-block">
        {% else %}
        <a href="{% url 'slide_viewer:slide-view' slide_id=content.slide.id %}" class="text-decoration-none d-block">
        {% endif %}    
            <!-- 카드의 너비와 높이를 고정 -->
            <div class="card border-0 rounded-0 mb-0 card-hover" style="height: 150px; width: 1000px; {% if forloop.counter|divisibleby:"2" %}background-color: #edf1f5;{% endif %}">
                <!-- 내부를 flex container로 만들어 세 영역으로 분할 -->
                <div class="d-flex h-100">
                    <!-- 제일 왼쪽 : 번호 표시 -->
                    <div class="d-flex align-items-center justify-content-center p-1" style="flex: 1 1 2%;">
                        <h6> {{ forloop.counter }} </h6>
                    </div>
                    <!-- 왼쪽 영역: 이미지  -->
                    <div class="d-flex align-items-center justify-content-center p-1" style="flex: 1 1 15%;">
                        <img src="{% url 'api:slide-thumbnail' pk=content.slide.id %}" alt="Slide Thumbnail"
                            style="max-width: 100%; max-height: 100%; object-fit: contain;">
                    </div>
                    <!-- 중앙 영역: 슬라이드 이름 -->
                    <div class="d-flex flex-column p-1" style="flex: 1 1 43%; overflow: hidden;">
                        <div class="flex-fill" style="height: 50%;">
                            <h5 class="mb-0" style="white-space: normal; text-overflow: ellipsis;">
                                {{ content.slide.name }}
                            </h5>
                        </div>
                        <div class="flex-fill" style="height: 50%;">
                            <p class="mb-0" style="white-space: normal; text-overflow: ellipsis;">
                                정보 : {{ content.slide.information }}
                            </p>
                        </div>
                    </div>
                    <!-- 오른쪽 영역: Annotation, Created, Updated -->
                    <div class="d-flex flex-column p-1" style="flex: 1 1 20%;">
                        {% if editable %}
                        {% if content.annotation %}
                        <p class="mb-1">{{ content.annotation.name }} - {{ content.annotation.author.username }}</p>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column p-1" style="flex: 1 1 20%;">
                        <h6> 대상 </h6>
                        {% for group in lecture.groups.all %}
                          {{ group.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                          No groups.
                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}
{% endblock content %}