{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'common_static/css/breadcrumb.css' %}">
    <link rel="stylesheet" href="{% static 'lectures/css/lecture_database.css' %}">
{% endblock %}


{% block content %}
    <!-- Breadcrumb -->
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <a href="{% url 'home' %}" class="breadcrumbs__item">Home</a>
        {% for crumb in breadcrumbs %}
        {% if forloop.last %}
            <!-- 마지막 항목은 is-active 클래스 추가 -->
            <a href="{% url 'lectures:lecture-database' %}?folder={{ crumb.id }}"
               class="breadcrumbs__item is-active">
                {{ crumb.name }}
            </a>
        {% else %}
            <!-- 마지막이 아닐 때는 기본 클래스만 적용 -->
            <a href="{% url 'lectures:lecture-database' %}?folder={{ crumb.id }}"
               class="breadcrumbs__item">
                {{ crumb.name }}
            </a>
        {% endif %}
        {% endfor %}
    </nav>
    <!-- Header -->
    <div class="d-flex justify-content-center">
        <div class="card rounded-0 my-3" style="width: 1024px;">
            <!-- 카드 헤더 -->
            <div class="card-header d-flex justify-content-between align-items-center" style="background-color:#edf1f5;">
                <h4 class="m-0">
                    {% if current_folder and current_folder != user.base_lecture_folder %}
                        {{ current_folder.name }}
                    {% else %}
                        DB/Lecture
                    {% endif %}
                </h4>
                <div class="btn-group">
                    {% if current_folder %}
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                data-bs-target="#folder-create-modal">
                            <i class="bi bi-folder-plus"></i> New Folder
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#lecture-create-modal">
                            <i class="bi bi-journal-plus"></i> New Lecture
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>  
    <!-- Contents -->
    <!-- 이전 폴더로 가는 칸 -->
    {% if current_folder %}
    <div class="d-flex justify-content-center">
        <div class="card border-0 rounded-0 mb-0 card-hover" style="height : 100%; max-height: 150px; width : 100%; max-width: 1024px;">
            <div class="d-flex w-100 h-100" style=" width: 100%;">
                <!-- 1영역 아이콘 /flex-item-icon / 5% -->
                <div class="d-flex align-items-center justify-content-center p-2 flex-item-icon" style="width: 5%;">
                    <i class="bi bi-folder-symlink fs-3 text-warning"></i>
                </div>
                <!-- 2영역 이름 /flex-item-name / 90% -->
                <div class="d-flex justify-content-center flex-column p-2 flex-item-name" style="width: 90%; overflow: hidden;">
                    <h3 class="mb-0" style="font-size: 2rem">
                        <a href="{% url 'lectures:lecture-database' %}?folder={{ current_folder.parent.id }}" style="text-decoration: none; color: inherit;">
                            ..
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- 폴더, 강의 content -->
    {% if items %}
    {% for item in items %}
    <div class="d-flex justify-content-center">
        <div class="card border-0 rounded-0 mb-0 card-hover"
            style="height : 100%; max-height: 150px; width : 100%; max-width: 1024px; {% if not forloop.counter|divisibleby:"2"%}background-color: #edf1f5;{% endif %}">
            <!-- lecture url-->
            <div class="d-flex w-100 h-100" style=" width: 100%;">
                <!-- 1영역 아이콘 /flex-item-icon / 5% -->
                <div class="d-flex align-items-center justify-content-center p-2 flex-item-icon" style="width: 5%;">
                    {% if item.type == "folder" %}
                    <i class="bi bi-folder fs-3 text-warning"></i>
                    {% else %}
                    <i class="bi bi-journal-text fs-3 text-primary"></i>
                    {% endif %}
                </div>
                <!-- 2영역 이름 /flex-item-name / 55% -->
                <div class="d-flex justify-content-center flex-column p-2 flex-item-name" style="width: 55%; overflow: hidden;">
                    {% if item.type == "folder" %}
                    <h3 class="mb-0 name-truncate">
                        <a href="{% url 'lectures:lecture-database' %}?folder={{ item.id }}" style="text-decoration: none; color: inherit;">{{ item.name }}</a>
                    </h3>
                    {% else %}
                    <h3 class="mb-0 name-truncate">
                        <a href="{% url 'lectures:lecture-view' lecture_id=item.id %}" style="text-decoration: none; color: inherit;">{{ item.name }}</a>
                    </h3>
                    {% endif %}
                </div>
                <!-- 3영역 날짜 /flex-item-right / 20% -->
                <div class="d-flex flex-column p-2 flex-item-right" style="width: 20%;">
                    <p class="mb-0" style="font-size: 15px"><i class="bi bi-person-fill-up fs-5"></i> {{ item.author }}</p>
                    <p class="mb-0" style="font-size: 15px">created: {{ item.created_at|date:"Y-m-d H:i" }}</p>
                    <p class="mb-0" style="font-size: 15px">updated: {{ item.updated_at|date:"Y-m-d H:i" }}</p>
                </div>
                <!-- 4영역 Edit 버튼 /flex-item-edit / 10%-->
                <div class="d-flex  align-items-center justify-content-center flex-column p-2 flex-item-edit" style="width: 10%;">
                    {% if item.type == 'folder' %}
                    <div class="btn-group-vertical btn-group-sm">
                        <!-- detail 버튼 -->
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#folder-detail-modal" data-bs-tooltip="tooltip" title="Details"
                            data-url="{% url 'api:lecture-folder-detail' pk=item.id %}">
                            Details
                        </button>
                        {% if current_folder %}
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#folder-rename-modal" data-bs-tooltip="tooltip" title="Rename"
                            data-url="{% url 'api:lecture-folder-detail' pk=item.id %}">
                            Rename
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#folder-move-modal" data-bs-tooltip="tooltip" title="Move"
                            data-url="{% url 'api:lecture-folder-detail' pk=item.id %}"
                            data-url-tree="{% url 'api:lecture-folder-tree' %}" data-item-id="{{ item.id }}">
                            Move
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#folder-delete-modal" data-bs-tooltip="tooltip" title="Delete"
                            data-url="{% url 'api:lecture-folder-detail' pk=item.id %}">
                            Delete
                        </button>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="btn-group-vertical btn-group-sm">
                        <!-- detail 버튼 -->
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#lecture-detail-modal" data-bs-tooltip="tooltip" title="Details"
                            data-url="{% url 'api:lecture-detail' pk=item.id %}">
                            Details
                        </button>
                        {% if item.is_editable %}
                        <!-- edit 버튼 -->
                        <a type="button" class="btn btn-outline-dark btn-sm rounded-0"
                            href="{% url 'lectures:lecture-edit' lecture_id=item.id %}" data-bs-tooltip="tooltip"
                            title="Edit">
                            Edit
                        </a>
                        <!-- move 버튼 -->
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#lecture-move-modal" data-bs-tooltip="tooltip" title="Move"
                            data-url="{% url 'api:lecture-detail' pk=item.id %}"
                            data-url-tree="{% url 'api:lecture-folder-tree' %}" data-item-id="{{ item.id }}">
                            Move
                        </button>
                        <!-- delete 버튼 -->
                        <button type="button" class="btn btn-outline-dark btn-sm rounded-0" data-bs-toggle="modal"
                            data-bs-target="#lecture-delete-modal" data-bs-tooltip="tooltip" title="Delete"
                            data-url="{% url 'api:lecture-detail' pk=item.id %}">
                            Delete
                        </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <!-- 5영역 visibility /flex-item-visibility / 10% -->
                <div class="d-flex align-items-center justify-content-center flex-column p-2 flex-item-visibility" style="width: 10%;">
                    {% if item.is_editable %}
                    <button type="button" class="btn btn-sm btn-outline-primary toggle-activity-btn"
                        data-bs-tooltip="tooltip" title="Toggle Activity"
                        data-url="{% url 'api:lecture-toggle-activity' pk=item.id %}">
                        <i class="bi bi-toggle-{% if item.is_active %}on{% else %}off{% endif %}"></i>
                        {% if item.is_active %}On{% else %}Off{% endif %}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock content %}


{% block extra_modal %}
    <!-- Folder Create Modal -->
    <div class="modal fade" id="folder-create-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-create-form" data-url="{% url 'api:lecture-folder-list' %}">
                    <div class="modal-body">
                        <input type="hidden" name="parent" value="{{ current_folder.id }}">
                        <label for="folder-create-name" class="form-label">Folder Name</label>
                        <input type="text" class="form-control" id="folder-create-name" name="name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Rename Modal -->
    <div class="modal fade" id="folder-rename-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rename Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-rename-form" data-url="">
                    <div class="modal-body">
                        <label for="folder-rename-name" class="form-label mt-2">New Name</label>
                        <input type="text" class="form-control" id="folder-rename-name" name="name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Rename</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Move Modal -->
    <div class="modal fade" id="folder-move-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-move-form" data-url="">
                    <div class="modal-body">
                        <div class="border p-3 folder-tree-container"
                             style="max-height: 300px; overflow-y: auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Delete Modal -->
    <div class="modal fade" id="folder-delete-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Folder</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="folder-delete-form" data-url="">
                    <div class="modal-body">
                        <p>Are you sure to delete this folder?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Folder Detail Modal -->
    <div class="modal fade" id="folder-detail-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Folder Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <dl class="row" id="folder-detail-list"></dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Lecture Create Modal -->
    <div class="modal fade" id="lecture-create-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Lecture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="lecture-create-form" data-url="{% url 'api:lecture-list' %}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" name="folder" value="{{ current_folder.id }}">
                            <label for="lecture-create-name" class="form-label">Lecture Name</label>
                            <input type="text" class="form-control" id="lecture-create-name" name="name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Lecture Move Modal -->
    <div class="modal fade" id="lecture-move-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Move Lecture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="lecture-move-form" data-url="">
                    <div class="modal-body">
                        <div class="border p-3 folder-tree-container"
                             style="max-height: 300px; overflow-y: auto;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Lecture Delete Modal -->
    <div class="modal fade" id="lecture-delete-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Lecture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="lecture-delete-form" data-url="">
                    <div class="modal-body">
                        <p>Are you sure you want to delete this lecture?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Lecture Detail Modal -->
    <div class="modal fade" id="lecture-detail-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Lecture Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <dl class="row" id="lecture-detail-list"></dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock extra_modal %}


{% block extra_js %}
    <script src="{% static 'lectures/js/lecture_database.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
